<div class="flex flex-wrap gap-6 md:gap-10 justify-center">
  @for (category of categories(); track category) {
    <button
      (click)="select(category)"
      class="group relative py-2 text-[11px] font-bold uppercase tracking-[0.2em] transition-all"
      [class.text-barber-accent]="activeCategory() === category"
      [class.text-gray-400]="activeCategory() !== category"
    >
      {{ category }}
      <span
        class="absolute -bottom-1 left-1/2 -translate-x-1/2 h-[1.5px] bg-barber-accent transition-all duration-300"
        [class.w-8]="activeCategory() === category"
        [class.w-0]="activeCategory() !== category"
        [class.group-hover:w-4]="activeCategory() !== category"
      >
      </span>
    </button>
  }
</div>
