<section
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50">

    <div open class="w-full max-w-lg rounded-xl bg-white shadow-xl p-6">
      <button
        (click)="close()"
      class="right-6 top-6 rounded-full p-2 transition-colors hover:bg-neutral-100"
      >
        <lucide-icon [name]="xIcon" class="w-4 h-4 text-gray-500"></lucide-icon>
      </button>
      @if (config.title) {
        <header class="mb-4">
          <h2 class="text-lg font-semibold">{{ config.title }}</h2>
        </header>
      }

      <main class="mb-6">
        <ng-container *cdkPortalOutlet="portal"></ng-container>
      </main>
    </div>
  </section>
